{% extends "base.html" %}

{% block title %}Create New Resource - Campus Resource Hub{% endblock %}

{% block content %}
{% set form_heading = "Create a new resource" %}
{% set form_subheading = "Share spaces, equipment, or tutoring slots with the campus community." %}
{% set form_action = url_for('resources.create') %}
{% set submit_label = "Create resource" %}
{% set is_edit = False %}
{% set images = images if images is defined else [] %}
{% set resource = resource if resource is defined else None %}

{% include "resources/_form_wizard.html" with context %}
{% endblock %}
