{% extends "base.html" %}

{% block title %}Edit {{ resource.title }} - Campus Resource Hub{% endblock %}

{% block content %}
{% set form_heading = "Update " ~ resource.title %}
{% set form_subheading = "Keep information accurate so students know what to expect." %}
{% set form_action = url_for('resources.edit', resource_id=resource.resource_id) %}
{% set submit_label = "Save changes" %}
{% set is_edit = True %}
{% set images = images if images is defined else [] %}

{% include "resources/_form_wizard.html" with context %}
{% endblock %}
